{% extends layout('default') %}
{% block content %}
    <div class="content">
        <div class="container">
            <div class="content-grids">
                <div class="col-md-8 content-main">
                    <div id="posts">

                        {% set posts = entries('posts').recent().take(5).get() %}

                        {% include "dogdie.theme.blog::partials/posts_item" with {"posts": posts} %}

                        {{ posts.links|raw }}

                    </div>

                    <div class="pages">
                        <ul>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">Previous</a></li>
                            <li><a href="#">Next</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 content-main-right">
                    <div class="search">
                        <h3>SEARCH HERE</h3>
                        <form>
                            <input type="text" value="" onFocus="this.value=''" onBlur="this.value=''">
                            <input type="submit" value="">
                        </form>
                    </div>
                    <div class="categories">
                        <h3>CATEGORIES</h3>
                        <li class="active"><a href="#">Donec quis dui at dolor tempor</a></li>
                        <li><a href="#">Vestibulum commodo felis quis tort</a></li>
                        <li><a href="#">Fusce pellentesque suscipit</a></li>
                    </div>
                    <div class="archives">
                        <h3>ARCHIVES</h3>
                        <li class="active"><a href="#">July 2014</a></li>
                        <li><a href="#">June 2014</a></li>
                        <li><a href="#">May 2014</a></li>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}
