<div class="top-menu">
    <span class="menu"> </span>
    <ul>
        {{ structure()
        .render()|raw }}
        <div class="clearfix"> </div>
    </ul>
</div>
<div class="clearfix"></div>
<script>
    $("span.menu").click(function(){
        $(".top-menu ul").slideToggle("slow" , function(){
        });
    });
</script>