<!DOCTYPE HTML>
<html>
<head>
    {% block metadata %}
        {% include "theme::partials/metadata" %}
    {% endblock %}
</head>
<body>
<!---strat-banner---->
<div class="banner">
    <div class="header">
        <div class="container">
            <div class="logo">
                <a href="/">
                    {#{{ img('theme::images/logo.png').title("soup")|raw }}#}
                    {{ variable('dogdie', 'icon').title("soup")|raw }}
                </a>
            </div>
            <!---start-top-nav---->
            {% include "theme::partials/navigation" %}

            <!---//End-top-nav---->
        </div>
    </div>
    <div class="container">
        <div class="banner-head">
            <h1>{{ variable('dogdie', 'slogan') | raw }}</h1>
            <h2>cliquam tincidunt mauris</h2>
        </div>
        <div class="banner-links">
            <ul>
                <li class="active"><a href="#">LOREM IPSUM</a></li>
                <li><a href="#">DOLAR SITE AMET</a></li>
                <li><a href="#">MORBI IN SEM</a></li>
                <div class="clearfix"></div>
            </ul>
        </div>
    </div>
</div>
<!---//End-banner---->

{% block content %}{% endblock %}
{#{% include "theme::partials/index" %}#}


{% include "theme::partials/footer" %}
</body>
</html>