<h3>{{ subject }}</h3>

{% for field in fields %}
    {# Mind you these are presenters #}
    <strong>{{ field.getLabel() }}:</strong> {{ field.__print()|raw }}
    <br>
{% endfor %}
<br>
Sent from {{ request_ip() }}
